{% load staticfiles %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Calificar Cita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://192.81.209.21/static/vendor-recovery/material.min.css">
    <script src="http://192.81.209.21/static/vendor-recovery/material.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GLUP | Welcome</title>

    <style type="text/css">
        @font-face {
            font-family: Montserrat-Light;
            src: url('http://192.81.209.21/static/vendor-recovery/fonts/Montserrat-Light.otf')
        }

        @font-face {
            font-family: Montserrat-UltraLight;
            src: url('http://192.81.209.21/static/vendor-recovery/fonts/Montserrat-UltraLight.otf')
        }

        header {
            background-color: black;
            height: 12vh;
            width: 100%;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }

        li {
            color: black;
            font-weight: normal;
        }

        .logo {
            height: 80%;
        }

        .description * {
            color: black;
        }

        .description {
            text-align: center;
        }

        .form_action {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .title_description {

            font-family: Montserrat-Light;
        }

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: content-box;
            color: white;
            font-weight: 800;
            font-family: Montserrat-UltraLight;
        }

        main {
            display: flex;
            margin: 46px;
            flex-direction: column;
            justify-content: space-around;
            height: 53vh;
        }

        .form_action input {
            color: black;
            font-weight: normal;
        }

        button {
            background-color: #04D8C0;
        }

        @media screen and (max-width: 550px) {
            header {
                justify-content: center;
            }
        }

        .error {
            color: #d50000;
            text-align: center;
            font-size: 12px;
            font-weight: 500;
            margin-top: 25px;
        }
        .is_rated{
            color: black;
            font-weight: normal;
            text-align: center;
        }
    </style>

</head>

<body>
<header>
    {#    <img class="logo" src="http://gluptest.kodevianstudio.com/static/img/logo_glup-11.svg">#}
</header>
<main>

    <section class="description">
        <div class="title_description">Calificar Cita</div>

        <div style="font-weight: normal;margin-top: 25px;">
            Gracias por validar su cita. Por favor califique su servicio.
        </div>
        {% if form.errors %}
            <div class="error">
                *Por favor complete todos los campos.
            </div>
        {% endif %}

    </section>
    <section>
        {% if  not appointment.is_rated %}
            <form class="form_action" method="post"
                  action="{% url 'appointments:qualify' code=appointment.code %}">{% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="-?[1-5]*(\.[1-5]+)?" id="worry"
                           name="worry">
                    <label class=" mdl-textfield__label" for="sample1">Preocupación por el paciente:</label>
                    <span class="mdl-textfield__error">Califica entre 1 y 5</span>

                </div>
                {#            <div class="error">#}
                {#                {{ form.worry.errors.as_text }}#}
                {#            </div>#}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="-?[1-5]*(\.[1-5]+)?" id="knowledge"
                           name="knowledge">
                    <label class=" mdl-textfield__label" for="sample1">Conocimiento del profesional:</label>
                    <span class="mdl-textfield__error">Califica entre 1 y 5</span>

                </div>
                {#            <div class="error">#}
                {#                {{ form.knowledge.errors.as_text }}#}
                {#            </div>#}

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" pattern="-?[1-5]*(\.[1-5]+)?" id="opinion"
                           name="opinion">
                    <label class=" mdl-textfield__label" for="sample1">Opinión del consultorio:</label>
                    <span class="mdl-textfield__error">Califica entre 1 y 5 </span>
                </div>
                {#            <div class="error">#}
                {#                {{ form.knowledge.errors.as_text }}#}
                {#            </div>#}

                <button style="width:171px;margin-top: 25px;"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Calificar
                </button>
            </form>
        {% else %}
            <div class="is_rated">
                La cita ya fue calificada, Gracias.
            </div>
        {% endif %}

    </section>

</main>
</body>
